@charset "UTF-8";
/* CSS Document */
body {
	font-family: Sabon LT Std, Garamond, Times New Roman, serif;
	font-size: 18px;
	color: #25263D;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	
}
h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	font-size: 56px;
}
h2 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: 48px;
}
h3 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin-top: 16px;
}
h4 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
}
p {
	line-height: 162.5%;
}

button {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 14px;
	background: #E0F2D7 0% 0% no-repeat padding-box;
	border: 1px solid #E0F2D7;
	border-radius: 16px;
	opacity: 1;
}
button:hover {
	background-color: #25263D;
	color: white;
}
img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	transition: width .2s ease;
}
.logo:hover {
	width: 42%;
}
ul.navgroup {
	text-align: center;
	list-style-type: none;
	margin-right: 48px;
	margin-bottom: 112px;
}
li.nav {
	display: inline-block;
	margin: 0 20px 0 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: 28px;
	transition: border-bottom .1s ease;
}
.current {
	border-bottom: 3px solid #25263D;
}
li.nav:hover {
	border-bottom: 3px solid #25263D;		
}
section {
	display: grid;
	justify-content: center;
	grid-template-columns: 690px 950px;
	grid-template-rows: 495px 296px 467px 367px;
	grid-template-areas: 
		"heroimg headerSection"
		"storySection summarySection"
		"knowledgeSection portfolioSection"
		"connectSection portfolioSection";
}
#left {
	width: 690px;	
}
#right {
	width: 950px;
	
}

/*About Me section*/
#heroimg {
	width: 100%;
	grid-area: heroimg;
}
#storySection {
	text-align: right;
	width: 80%;
	grid-area: storySection;
	padding-left: 40px;
	padding-top: 56px;
}
#headerSection {
	width: 950px;
	height: 495px;
	background-color: #89A67C;
	opacity: 1;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	grid-area: headerSection;
}
#name {
	padding: 0px;
	margin: 0px 0px 0px 80px;
	align-self: flex-start;
}
#position {
	padding: 0px;
	margin: 0px;
}
#position2 {
	padding: 0px;
	margin: 0px 80px;
	align-self: flex-end;
}
#summarySection {
	width: 886px;
	height: 296px;
	background-color: #ECE3DE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: auto;
	padding-left: 40px;
	padding-right: 24px;
	grid-area: summarySection;
}

/*My Work section */
#portfolioSection {
	grid-row: 3 / span 2;
	grid-area: portfolioSection;
}
.portfolioText {
	padding-left: 16px;
	padding-right: 16px;
	
}
.rightJustify {
	text-align: right;
}
#portfolioHeader {
	text-align: center;
	margin-bottom: 80px;
}
#portfolioOne {
	width: 950px;
	display: flex;
	padding-bottom: 24px;
	
}
#LACimg {
	width: 34%;
	height: 46%;
	border: 2px solid #8FA580;
	box-shadow: 0px 3px 6px #00000029;
	margin-right: 8px;
}
#portfolioTwo {
	width: 950px;
	height: 341px;
	display: flex;
	flex-direction: row;
}
#PoppyImg {
	width: 24%;
	height: 88%;
	margin-left: 8px;
	box-shadow: 0px 3px 6px #00000029;
	border: 2px solid #EBE3DF;
	opacity: 1;
}
#portfolioButton {
	width: 259px;
    height: 30px;
	font-size: 14px;
	margin-left: 160px;
}

/*Skills & Contact Section*/

#knowledgeSection {
	grid-area: knowledgeSection;
	width: 690px;
	height: 467px;
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#toolboxIcon {
	margin-top: -24px;
	margin-left: 32px;
}
#tools {
	list-style-type: none;
	text-align: center;
	margin-top: 32px;
}
.icon {
	display: inline-block;
	margin: 8px;
}
.email {
	transform: translate(0, -4px)
}
#connectSection {
	grid-area: connectSection;
	width: 690px;
	height: 399px;
	background: #25263D 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.darkBack {
	color: white;
}
footer {
	margin-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*Laptop media query*/
@media only screen and (max-width: 1440px) {
	section {
		display: grid;
		justify-content: center;
		grid-template-columns: 518px 712px;
		grid-template-rows: 495px 370px 584px 459px;
		grid-template-areas: 
		"heroimg headerSection"
		"storySection summarySection"
		"knowledgeSection portfolioSection"
		"connectSection portfolioSection";
	}
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 54px;
	}
	h2 {
	font-size: 46px;
	}
	h3 {
	font-size: 26px;
	}
	h4 {
	font-size: 16px;
}
	p {
	line-height: 150%;
}
	#left {
		width: 518px;	
	}
	#right {
		width: 712px;
	}
	#headerSection {
		width: 712px;
		height: 495px;
	}
	#name {
	margin: 0px 0px 0px 40px;
  	}
	#position2 {
	margin: 0px 40px;
}
	#summarySection {
	width: 648px;
	height: 296px;
	}
	#portfolioHeader {
	margin-bottom: 40px;
}
	#portfolioOne {
	width: 712px;
	padding-bottom: 24px;
	}
	#portfolioTwo {
	width: 712px;
	height: 280px;
	}
	#storySection{
		width: 518;
		padding-top: 80px;
	}
	#knowledgeSection {
		width: 518px;
		margin-top: 120px;
		margin-bottom: -108px;
		padding-top: 48px;
	}
	#connectSection {
		grid-area: connectSection;
		width: 518px;
		height: 399px;
	}
	#portfolioButton {
		margin-left: 80px;
	}
	footer {
		margin-top: -180px;
	}

}
/*Phone media query*/
@media only screen and (max-width: 600px) {
	img.logo {
		width: 60%;
	}
	.logo:hover {
		width: 62%;
	}
	ul.navgroup {
		margin-right: 48px;
		margin-bottom: 56px;
	}
	li.nav {
		margin: 0 12px 0 12px;
		font-size: 16px;
	}
	section {
		display: grid;
		justify-content: center;
		grid-template-columns: 378px;
		grid-template-rows: 495px 495px 370px 370px 467px 584px 459px;
		grid-template-areas: 
		"heroimg"
		"headerSection"
		"storySection"
		"summarySection"
		"knowledgeSection"
		"portfolioSection"
		"connectSection";
	}
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 18px;
}
	p {
		line-height: 150%;
}
	#headerSection {
		width: 378px;
		height: 225px;
		margin-top: -160px;
	}
	#name {
		margin: 0px 0px 0px 16px;
  	}
	#position2 {
		margin: 0px 16px;
}
	#summarySection {
		width: 302px;
		height: 378px;
		margin-top: 364px;
		padding-left: 36.5px;
		padding-right: 36.4px;
	}
	#portfolioSection {
		margin-top: 384px;
		text-align: center;
	}
	#portfolioHeader {
		text-align: center;
		margin-right: 328px;
	}
	#LACimg {
		width: 302px;
		height: 201px;
		margin-right: 0px;
	}
	#portfolioOne {
		width: 378px;
		margin-bottom: 380px;
		flex-direction: column;
		align-items: center;
	}
	#portfolioTwo {
		width: 378px;
		height: 280px;
		margin-top: 48px;
		flex-direction: column-reverse;
		align-items: center;
	}
	.rightJustify {
		text-align: center;
	}
	#PoppyImg {
		width: 201px;
		height: 301px;
		margin-left: 0px;
	}
	#storySection{
		width: 370px;
		height: 349px;
		margin-top: 160px;
		padding: 0;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 80px;
	}
	#knowledgeSection {
		width: 378px;
		margin-top: 324px;
		margin-bottom: -108px;
		padding-top: 48px;
	}
	#toolboxIcon {
		margin: 0;
	}
	#tools {
		margin-right: 36px;
	}
	#connectSection {
		grid-area: connectSection;
		width: 378px;
		height: 199px;
		margin-top: 1400px;
	}
	#portfolioButton {
		margin-right: 300px;
		width: 188px;
	}
	footer {
		margin-top: 80px;
	}
	.footersection {
		display: none;
	}
}